<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>


    
    <style>
        .title{
            font-size: 2rem;
            text-align: center;
        }
        .container{
            border: 3px solid green;
        }
    </style>
</head>
<body >
    <div class="container">
        <div class="title">Certificado</div>
        <div class="body-certificado">
            <p>Certificamos que o aluno: <%= nome %></p>
            <p>Concluiu com exito a mentoria do Cristiano</p>
            <p>no periodo de 09/jun/2021 a 20/ago/2021, com garga horario de 300 horas aula</p>
          </div>
    </div>
   
</body>
</html>